<div class="card">
    <div class="priority-table-container">
        <table class="priority-table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Prioridad temporal 1<br>Por ser posible su aplicación inmediata</th>
                    <th>Prioridad temporal 2<br>Por suponer cambios de magnitud que aconsejan progresividad</th>
                    <th>Prioridad temporal 3<br>Por estar sujetas a factores externos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="3" class="phase">FASE DE APROVISIONAMIENTO</td>
                    <td class="eliminate">ELIMINAR</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td class="reduce">REDUCIR</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td class="incorporate">INCORPORAR</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
    
                <tr>
                    <td rowspan="3" class="phase">FASE DE DISTRIBUCIÓN</td>
                    <td class="eliminate">ELIMINAR</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td class="reduce">REDUCIR</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td class="incorporate">INCORPORAR</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
    
                <tr>
                    <td rowspan="3" class="phase">FASE DE PROCESADO</td>
                    <td class="eliminate">ELIMINAR</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td class="reduce">REDUCIR</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td class="incorporate">INCORPORAR</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
    
                <tr>
                    <td rowspan="3" class="phase">FASE DE CONSUMO</td>
                    <td class="eliminate">ELIMINAR</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td class="reduce">REDUCIR</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td class="incorporate">INCORPORAR</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
    
                <tr>
                    <td rowspan="3" class="phase">FASE DE GESTIÓN DE RESIDUOS</td>
                    <td class="eliminate">ELIMINAR</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td class="reduce">REDUCIR</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td class="incorporate">INCORPORAR</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
            </tbody>
        </table>
    </div>
      
</div>