.priority-table-container {
    width: 100%;
    overflow-x: auto;

}

.priority-table {
    width: 100%;
    border-collapse: collapse;
}

.priority-table th,
.priority-table td {
    border: 2px solid #000066;
    padding: 10px;
    text-align: center;
}

.priority-table th {
    background-color: #0055a5;
    color: white;
    font-weight: normal;
}

.phase {
    background-color: #0055a5;
    color: white;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
}

.eliminate {
    background-color: #ff8a45;
    font-weight: bold;
}

.reduce {
    background-color: #ffcc32;
    font-weight: bold;
}

.incorporate {
    background-color: #5cbf5c;
    font-weight: bold;
}

.priority-table input[type="text"] {
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* Ensures padding and borders are included in the element's total width and height */
    border: none;
    padding: 10px; /* Adjust padding as needed for input text */
    text-align: center;
    font-size: 14px;
    background-color: inherit; /* Match the background color to the cell */
  }
