<form [formGroup]="sostenibilidadForm" (ngSubmit)="onSubmit()">
<div class="section">
    <div class="section-header">
      <h2>SOSTENIBILIDAD DE APROVISIONAMIENTO *EVAL.POR FASE&nbsp;:&nbsp;{{totalScore}}*</h2>
    </div>
    <div *ngFor="let item of aprovisionamiento" class="p-field">
      <!-- Primera etiqueta -->
      <label><span style="font-weight: bold;">{{ item.label }}</span></label>
      <!-- Segunda etiqueta -->
      <label class="second-label" 
      [ngStyle]="{
        'color': getLabelBackground(item.name),
        'padding': '5px', 
        'border-radius': '5px',
        'font-weight': (getLabelBackground(item.name) !== 'black') ? 'bold' : 'normal'
      }"
      >{{ item.labelsecond }}</label>
      <!-- Campo de selección -->
      <p-dropdown 
        [options]="item.options" 
        formControlName="{{ item.name }}" 
        optionLabel="label" 
        placeholder="Selecciona una respuesta" 
        [style]="{'width':'100%'}"
      ></p-dropdown>
    </div>
    <div [ngStyle]="{'background-color': sostenibilidadService.getBackgroundColor(totalScore)}" class="total-puntos">
      <h3>Total: {{totalScore}}</h3><br/> <p>{{message}}</p>
    </div>
  </div>
</form>