
.main {
    flex: 1; /* Permite que .main ocupe todo el espacio disponible */
    padding: 8px;
  
    min-height: 480px;
    margin: 0 auto; /* Centrar el contenido */
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    .main {
        padding: 8px; /* Reducir el padding en pantallas pequeñas */
        min-width: 350px; /* Ajuste del ancho mínimo en móviles */
    }
}

/* Estilos para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    .main {
        padding: 12px; /* Ajustar el padding en tablets */
            }
            
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {
    .main {
        padding: 24px; /* Mayor padding en pantallas grandes */
        width: 80%;
    }
}
