
.main {
    flex: 1; /* Permite que .main ocupe todo el espacio disponible */
    padding: 8px;
  
    min-height: 480px;
    margin: 0 auto; /* Centrar el contenido */
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    .main {
        padding: 8px; /* Reducir el padding en pantallas pequeñas */
        min-width: 350px; /* Ajuste del ancho mínimo en móviles */
    }
}

/* Estilos para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    .main {
        padding: 12px; /* Ajustar el padding en tablets */
            }
            
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {
    .main {
        padding: 24px; /* Mayor padding en pantallas grandes */
        width: 80%;
    }
}

.floating-up {
    position: fixed; /* Esto lo mantendrá en una posición fija en la ventana */
    bottom: 75px; /* Puedes ajustar la distancia desde la parte inferior según tus necesidades */
    right: 15px; /* Puedes ajustar la distancia desde la derecha según tus necesidades */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 50%; /* Esto hará que el botón sea circular */
    width: 50px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
  }
