/* //ESTILOS DE LOS HR, SEPARADOR */
/* .dropdown-divider {
  display: none;
  width: 100%;
  border: 0.1px solid grey  ;
  margin: 1px 0;
} */



/* Menu hamburguesa */
.hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    border: none;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  /* //fin estilos menu ahmaburguesa */
  /* Ajustes para el navbar en dispositivos móviles */
.navbar-collapse {
    overflow: hidden; /* Evita el desbordamiento vertical */
}

/* Ajuste opcional para evitar barras de desplazamiento en móviles */
@media (max-width: 768px) {
    .navbar-nav {
        overflow: hidden; /* Asegura que el contenido no se desborde */
        height: auto; /* Ajusta la altura automáticamente */
    }
    

    .navbar-nav-scroll {
        --bs-scroll-height: auto; /* Ajusta la altura del scroll en móviles */
    }

    .navbar-collapse {
        max-height: none; /* Asegura que el menú se expanda completamente en móviles */
    }
    
    
}
