<div class="card">
<div class="table-container">
    <table class="sustainability-table">
        <thead>
            <tr>
                <th rowspan="2"></th>
                <th rowspan="2">ÁMBITOS DE IMPACTO</th>
                <th rowspan="2">TRANSICIÓN HACIA LA SOSTENIBILIDAD</th>
                <th colspan="3">ACCIONES</th>
            </tr>
            <tr>
                <th>INCORPORAR/AUMENTAR</th>
                <th>REDUCIR</th>
                <th>ELIMINAR</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4" style="background-color: blue;">FASE DE APROVISIONAMIENTO</td>
                <td>Tipo de producción de los alimentos en origen</td>
                <td>Incrementar el compromiso con modelos de producción de alimentos que garanticen la sostenibilidad ambiental frente a modelos de producción intensiva con productos tóxicos y contaminantes</td>
                <td>
                    <ul>
                        <li>alimentos de producción ecológica, agroecológica y SPG</li>
                        <li>alimentos procedentes de variedades locales y razas autóctonas</li>
                        <li>carnes certificadas con sello de bienestar animal</li>
                        <li>carnes de ganadería extensiva, granjas locales alimentadas con pasto y de huevos de corral</li>
                        <li>pescado salvaje de temporada, de lonja y pesca tradicional y de proximidad costera</li>
                        <li>productos procedentes de cooperativas de comercio justo</li>
                        <li>alimentos procedentes de km0 biorregión y DOP/IGP</li>
                        <li>cereales y legumbres de origen nacional</li>
                        <li>fruta y verdura fresca de temporada, de variedades locales y de cultivo al aire libre</li>
                        <li>alimentos de frescura garantizada de 3 días entre producción y consumo</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>conservas, precocinados y procesados</li>
                        <li>alimentos congelados, refrigerados y frescos-refrigerados (descongelados)</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>fruta y verdura cultivada en invernaderos</li>
                        <li>fruta y verdura importada</li>
                        <li>legumbres (soja) y cereales (maíz, quinoa) importados</li>
                        <li>carnes y pescados importados</li>
                        <li>pescados amenazados por sobrepesca (lista roja Greenpeace)</li>
                        <li>pescados procedentes de piscifactoría (Tilapia, panga y perca)</li>
                        <li>alimentos transgénicos</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Origen del alimento, distancia entre el lugar de producción y el de elaboración</td>
                <td>Incrementar el compromiso con alimentos producidos en el ámbito local, comarcal o regional frente a los alimentos procedentes de la importación de países lejanos</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Frescura del alimento, tiempo transcurrido entre la cosecha y el consumo</td>
                <td>Incrementar el compromiso con alimentos cosechados en su momento óptimo de maduración que no han sido almacenados, refrigerados o procesados (congelados, precocinados, ...) durante largos periodos de tiempo</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Estacionalidad, época y forma de cultivo en relación a la estacionalidad natural del cultivo</td>
                <td>Incrementar el compromiso con alimentos cultivados al aire libre frente a los procedentes de cultivos forzados en invernadero</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="4" style="background-color: blue;">FASE DE DISTRIBUCIÓN <br> (desde la producción a la cocina y desde la cocina al comedor)</td>
                <td>Fuente de energía utilizada para el transporte desde el lugar de elaboración hasta el comedor</td>
                <td>Incorporar soluciones que reduzcan la dependencia de los combustibles fósiles apostando por el uso de vehículos dependientes de energías renovables</td>
                <td>
                    <ul>
                        <li>el uso de vehículos dependientes de fuentes de energía renovables (energía verde)</li>
                        <li>la compra de alimentos frescos a granel en recipientes reutilizables</li>
                        <li>la compra de alimentos en continentes plásticos biodegradables o reciclados</li>
                        <li>productos envasados a granel (5 kg) en recipientes reutilizables (postres lácteos, ...)</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>el uso de vehículos de transporte dependientes de combustibles fósiles</li>
                        <li>el recorrido entre la cocina y el comedor</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>la compra de productos en envases metálicos de un solo uso, de formato pequeño o individual (conservas vegetales, ...)</li>
                        <li>la compra de productos envasados en plástico de un solo uso, de formato pequeño o individual (agua, yogures, aceite de oliva, pan, ...)</li>
                        <li>embalajes y envases de un solo uso para el transporte de los menús al comedor escolar</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Distancia recorrida desde el lugar de elaboración y el comedor</td>
                <td>Considerar la importancia de minimizar el recorrido entre la cocina y el comedor escolar</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Tipología de embalajes y envases utilizados durante el transporte desde el lugar de producción a la cocina y de los alimentos cocinados desde la cocina al comedor escolar, en su caso</td>
                <td>Atención a la sustitución de los materiales de los embalajes y envases no reciclables (plásticos convencionales) o fabricados con materiales escasos (aluminio y hojalata) por materiales biodegradables, reciclables o reutilizables</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Cantidad de embalaje y envases empleados durante el transporte desde el lugar de elaboración hasta el comedor</td>
                <td>Incorporar medidas de reducción del uso de embalajes, evitando alimentos empaquetados y los envases de un sólo uso, priorizando los grandes formatos, los graneles y los envases reutilizables</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
  </div>
</div>