.table-container {
    overflow-x: auto;
    margin: 20px;
}

.sustainability-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.sustainability-table th, .sustainability-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.sustainability-table th {
    background-color: #003366;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.sustainability-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.sustainability-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.sustainability-table td ul {
    padding-left: 20px;
    list-style-type: disc;
}

/* Estilos responsive para pantallas más pequeñas */
@media (max-width: 768px) {
    /* Estilos para las celdas con 'rowspan' que contienen los textos 'FASE DE APROVISIONAMIENTO' y 'FASE DE DISTRIBUCIÓN' */
    .sustainability-table td[rowspan] {
        writing-mode: vertical-rl; /* Gira el texto para que se muestre en vertical */
        /* transform: rotate(180deg);  */
        -webkit-writing-mode: vertical-rl; /* Para Safari */
        text-align: center; /* Centra el texto */
        width: 40px; /* Ajusta el ancho de la celda para que sea más estrecha */
        padding: 5px; /* Reduce el padding en dispositivos móviles */
        font-size: 18px; /* Reduce el tamaño de la fuente */
        background-color: white; /* Asegura el fondo blanco */
        color:white;
    }
    
    /* Ajusta el tamaño de la fuente para el resto de las celdas en pantallas pequeñas */
    .sustainability-table td, .sustainability-table th {
        font-size: 12px; /* Reduce el tamaño de la fuente en general */
    }
}
