.table-container {
  overflow-x: auto; /* Permite el scroll horizontal */
  margin: 20px 0;   /* Ajusta el margen */
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 20px 0;
  padding: 15px;
  table-layout: auto; /* Ajusta automáticamente el ancho de las columnas */
}

.styled-table th,
.styled-table td {
  border: 3px solid #d16527; /* Color de los bordes */
  padding: 15px;
  text-align: left;
}

.styled-table th {
  background-color: #d16527; /* Fondo de los encabezados */
  color: white;
  text-transform: uppercase;
}

.styled-table td:first-child {
  background-color: #ff884d; /* Fondo de la primera columna */
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.styled-table ul {
  margin: 0;
  padding-left: 20px; /* Sangría de las listas */
}

/* Estilos responsive para pantallas más pequeñas */
@media (max-width: 768px) {
  /* Ajusta las celdas específicas para que se hagan más pequeñas y el texto se muestre en vertical */
  .styled-table td:first-child {
    writing-mode: vertical-rl; /* Gira el texto para que se muestre en vertical */
    /* transform: rotate(180deg);  */
    -webkit-writing-mode: vertical-rl; /* Para Safari */
    text-align: center; /* Centra el texto */
    width: 30px; /* Ajusta el ancho de la celda */
    padding: 10px; /* Reduce el padding en dispositivos móviles */
    font-size: 18px; /* Reduce el tamaño de la fuente */
  }
  
  .styled-table td {
    font-size: 14px; /* Reduce el tamaño de la fuente en las celdas generales */
  }
}
