
<div class="instrucciones">
    <img src="../../assets/images/popup.png" />
</div>
<table class="styled-table">
    <thead>
        <tr>
            <th></th>
            <th>DESCRIPCIÓN</th>
            <th>FORMA DE USO</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CALCULADORA</td>
            <td>Herramienta para evaluar la sostenibilidad ambiental del comedor escolar.</td>
            <td>En la columna SELECCIONA TU RESPUESTA, elige de la lista desplegable la opción que mejor se corresponda con el servicio actual del comedor escolar. A partir de esa información, obtendrás los siguientes resultados:
                <ul>
                    <li>El NIVEL DE SOSTENIBILIDAD correspondiente a cada uno de los ámbitos de sostenibilidad de cada fase.</li>
                    <li>Una EVALUACIÓN POR FASE del desempeño ambiental.</li>
                    <li>Una EVALUACIÓN DE IMPACTO AMBIENTAL GLOBAL del servicio de comedor escolar en su conjunto.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>INDICADORES</td>
            <td>Documentación complementaria para profundizar en el conocimiento sobre los diferentes aspectos del servicio de comedor escolar que pueden tener asociados impactos ambientales.</td>
            <td>Para aquellas personas con interés en profundizar en las problemáticas ambientales ligadas al servicio de comedor escolar o en la potencialidad de la alimentación como herramienta educativa, hemos elaborado un informe que desarrolla en profundidad cada uno de los indicadores clave elegidos, asociándolos a los impactos ambientales a los que se vincula y ofreciendo bibliografía o referencias al respecto. Presentamos esta información en dos formatos:
                <ul>
                    <li>INFORME DE RESPALDO con la información relativa a los indicadores de sostenibilidad.</li>
                    <li>INFORME COMPLETO en el que además se recoge información sobre la metodología para el diseño de la calculadora.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>GUÍA DE BUENAS PRÁCTICAS</td>
            <td>Conjunto de buenas prácticas que pueden implementarse en el comedor escolar en cada una de las fases del ciclo de vida de la alimentación escolar.</td>
            <td>Un listado pormenorizado de acciones prácticas para revertir los impactos ambientales negativos con la finalidad de mejorar la sostenibilidad ambiental del servicio de comedor escolar y que pueden implementarse fácilmente.</td>
        </tr>
        <tr>
            <td>HOJA DE RUTA</td>
            <td>Herramienta para diseñar la hoja de ruta de la transición del comedor escolar hacia la sostenibilidad ambiental.</td>
            <td>A partir de la información recogida en la GUÍA DE BUENAS PRÁCTICAS, se propone realizar una selección de las mismas con las que confeccionar una HOJA DE RUTA propia, adaptada a las posibilidades de cada comedor escolar, que guíe la transición hacia la sostenibilidad del servicio de comedor escolar para un horizonte temporal de tres años.</td>
        </tr>
    </tbody>
</table>

